@font-face {
    font-family: "Montserrat" ;
    src: url(../CSS/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat" ;
    src: url(../CSS/fonts/Montserrat-Medium.ttf);
    font-weight: 500 ;
}

@font-face {
    font-family: "Montserrat" ;
    src: url(../CSS/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "ProstoOne" ;
    src: url(../CSS/fonts/ProstoOne-Regular.ttf);
    font-weight: 400;
}